{% extends "base.html" %}

{% block content %}

<h3>Messages</h3>
<form action="." method="post">
	<div class="form-group">
        <label for="exampleInputNickname">Nick Name</label>
        <input type="text" name="sender" class="form-control" id="exampleInputNickname"
               placeholder="Nick Name">
    </div>

	<div class="form-group">
        <label for="exampleInputBody">Message</label>
        <textarea type="text" name="body" class="md-textarea form-control" id="exampleInputBody"
				  placeholder="Message"></textarea>
    </div>
	<button type="submit" class="btn btn-primary">Save</button>
</form>

<table class="table mt-5">
	<thead>
	<tr>
		<th>Sender</th>
		<th>Message</th>
	</tr>
	</thead>
	<tbody>
	{% for message in messages %}
	<tr>
		<td>{{ message.sender }}</td>
		<td>{{ message.body }}</td>
	</tr>
	{% endfor %}
	</tbody>
</table>


{% endblock %}